/**
* Секция "Типография"
*/
.typography {
	display: grid;
	grid-template-columns: repeat(9, 1fr);
	&-title {
		grid-column: span 9;
	}
	&-text {
		grid-column: span 5;
		margin-top: 24px;
		margin-bottom: 48px;
	}
	&-tabs {
		display: flex;
		flex-direction: column;
		grid-column: span 9;
		.tabs-navigation {
			position: relative;
			display: flex;
			gap: 32px;
			&:after {
				content: '';
				position: absolute;
				bottom: -15px;
				width: 100%;
				height: 1px;
				display: block;
				background: #cbcbcc;
			}
			.tab-label {
				position: relative;
				transition: color 0.15s ease-in-out;
				color: $basic-gray;
				@each $property, $value in $font-styles-p16 {
					#{$property}: $value;
				}
				cursor: pointer;
			}
			input[type='radio'] {
				display: none;
			}
			input[type='radio']:checked + label {
				color: $basic-black;
				cursor: default;
			}
			input[type='radio']:checked + label::after {
				content: '';
				position: absolute;
				bottom: -15px;
				left: 0;
				width: 0;
				height: 2px;
				background-color: $basic-blue;
				transition: width 0.3s ease-in-out;
				z-index: 1;
			}
			input[type='radio']:checked + label::after {
				width: 100%;
			}
		}
		.tabs-content {
			.tab-content {
				display: none;
				width: 100%;
				grid-template-columns: repeat(9, 1fr);
				row-gap: 48px;
				margin-top: 64px;
				&-item {
					grid-column: span 9;
					display: grid;
					grid-template-columns: 1fr 2fr;
				}
				&-item > div:first-child {
					color: $basic-gray;
					@each $property, $value in $font-styles-p14 {
						#{$property}: $value;
					}
				}
				&-item:nth-child(1).desktop > div:last-child {
					@each $property, $value in $font-styles-h1-desktop {
						#{$property}: $value;
					}
				}
				&-item:nth-child(2).desktop > div:last-child,
				&-item:nth-child(1).mobile > div:last-child {
					@each $property, $value in $font-styles-h2-desktop {
						#{$property}: $value;
					}
				}
				&-item:nth-child(2).mobile > div:last-child {
					@each $property, $value in $font-styles-h2-mobile {
						#{$property}: $value;
					}
				}
				&-item:nth-child(3).desktop > div:last-child {
					@each $property, $value in $font-styles-h3-desktop {
						#{$property}: $value;
					}
				}
				&-item:nth-child(3).mobile > div:last-child {
					@each $property, $value in $font-styles-h3-mobile {
						#{$property}: $value;
					}
				}
				&-item:nth-child(4) > div:last-child {
					@each $property, $value in $font-styles-h4 {
						#{$property}: $value;
					}
				}
				&-item:nth-child(5).desktop > div:last-child {
					@each $property, $value in $font-styles-lead-desktop {
						#{$property}: $value;
					}
				}
				&-item:nth-child(5).mobile > div:last-child {
					@each $property, $value in $font-styles-lead-mobile {
						#{$property}: $value;
					}
				}
				&-item:nth-child(6) > div:last-child {
					@each $property, $value in $font-styles-p18 {
						#{$property}: $value;
					}
				}
				&-item:nth-child(7) > div:last-child {
					@each $property, $value in $font-styles-p16 {
						#{$property}: $value;
					}
				}
				&-item:nth-child(8) > div:last-child {
					@each $property, $value in $font-styles-p14 {
						#{$property}: $value;
					}
				}
			}
			.tab-content.active {
				display: grid;
			}
		}
	}
}