/**
* Базовые стили селекторов
*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: grid;
	grid-template-areas:
		'header header'
		'nav content';
	grid-template-rows: auto 1fr;
	justify-content: center;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Graphik', sans-serif;
	@each $property, $value in $font-styles-p16 {
		#{$property}: $value;
	}
}
h1 {
	@each $property, $value in $font-styles-h1-desktop {
		#{$property}: $value;
	}
}
h2 {
	@each $property, $value in $font-styles-h2-desktop {
		#{$property}: $value;
	}
}
h3 {
	@each $property, $value in $font-styles-h3-desktop {
		#{$property}: $value;
	}
}
h4 {
	@each $property, $value in $font-styles-h4 {
		#{$property}: $value;
	}
}
section {
	margin-bottom: 80px;
}
ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: #333;
}
input {
	outline: 0;
	border: 0;
	&::placeholder {
		@each $property, $value in $font-styles-p16 {
			#{$property}: $value;
		}
		color: $basic-black;
		opacity: 1;
	}
}
button {
	border: none;
	outline: none;
	background-color: transparent;
}