// Sections imports
@import './sections/grid.scss';
@import './sections/typography.scss';
@import './sections/ui.scss';

.content {
	grid-area: content;
	.text-level {
		margin-top: 16px;
		margin-bottom: 64px;
		@each $property, $value in $font-styles-lead-desktop {
			#{$property}: $value;
		}
	}
	.intro-text {
		display: grid;
		grid-template-columns: 2fr 1fr;
	}
	.win {
		margin: 160px 0 48px;
		text-align: center;
		@each $property, $value in $font-styles-p14 {
			#{$property}: $value;
		}
	}
}
