/**
* Шапка страницы и меню
*/
.header {
	grid-area: header;
	display: flex;
	align-items: center;
	position: relative;
	padding: 32px 0;
	&__logo {
		display: flex;
	}
	&__fio {
		display: flex;
		flex-direction: column;
		margin-left: 24px;
		@each $property, $value in $font-styles-p14 {
			#{$property}: $value;
		}
		&-firstname {
			color: $basic-gray;
		}
	}
	&__menu {
		position: relative;
		margin-left: auto;
		&-btn {
			width: 24px;
			height: 24px;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: center;
			position: relative;
			z-index: 101;
			cursor: pointer;
			transition-delay: 0.3s;
			.line {
				transition: all 0.3s;
				height: 2px;
				width: 32px;
				display: block;
				background-color: $basic-black;
			}
			.line:nth-of-type(2) {
				margin: 6px 0 0;
				width: 24px;
			}
		}
		&-content {
			width: 100%;
			height: 100%;
			position: fixed;
			left: 0;
			top: 0;
			display: grid;
			justify-content: center;
			padding: 8px;
			visibility: hidden;
			opacity: 0;
			transition: all ease 0.1s;
			.content-bg {
				width: 60%;
				height: calc(100% - 16px);
				position: absolute;
				left: 8px;
				top: 50%;
				transform: translateY(-50%);
				background: white;
			}
			.content-wrapper {
				position: relative;
				display: grid;
				grid-column-gap: 32px;
				grid-template-columns: repeat(7, minmax(0, 1fr));
				grid-column: span 7;
				padding: 24px 0 40px;
				.content-logo {
					grid-column: span 1;
					z-index: 1;
				}
				.content-info {
					position: relative;
					grid-column: span 4;
					.info-heading {
						margin: 10px 0 60px;
						color: $basic-gray;
					}
					.info-about {
						.fio {
							display: flex;
							flex-direction: column;
							color: $basic-black;
						}
						.description {
							margin: 24px 0 32px;
							@each $property, $value in $font-styles-p16 {
								#{$property}: $value;
							}
						}
					}
					.info-link {
						position: absolute;
						bottom: 0;
						display: flex;
						align-items: center;
						gap: 24px;
						.link-icon {
							width: 48px;
							height: 48px;
							display: flex;
							justify-content: center;
							align-items: center;
							box-shadow: 0px 4px 8px 0px #00000014;
							border-radius: 50%;
							.svg-container {
								position: relative;
								width: 12px;
								height: 12px;
								top: -4px;
								.second-icon {
									position: absolute;
									top: 4px;
									right: -2px;
								}
							}
						}
						.link-text {
							color: $basic-blue;
						}
					}
				}
			}
		}
	}
	&__menu.opened {
		transition: all 0.3s;
		.header__menu-btn {
			.line {
				width: 24px;
				background-color: white;
			}
			.line:nth-of-type(1) {
				transform: rotate(45deg);
				height: 2px;
				position: relative;
				bottom: -2px;
			}
			.line:nth-of-type(2) {
				height: 2px;
				margin: unset;
				transform: rotate(-45deg);
			}
		}
		.header__menu-content {
			z-index: 100;
			visibility: visible;
			opacity: 1;
			background-image: url(/src/img/bg.jpg);
			background-size: cover;
			background-repeat: no-repeat;
		}
	}
}

.menu-open {
	overflow: hidden;
}