// Разрешение для мобильного
@media screen and (max-width: 736px) {
	h1 {
		@each $property, $value in $font-styles-h1-mobile {
			#{$property}: $value;
		}
	}
	h2 {
		@each $property, $value in $font-styles-h2-mobile {
			#{$property}: $value;
		}
	}
	h3 {
		@each $property, $value in $font-styles-h3-mobile {
			#{$property}: $value;
		}
	}
	input {
		&::placeholder {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			@each $property, $value in $font-styles-p14 {
				#{$property}: $value;
			}
		}
	}

	.header__menu-content {
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 24px;
		.content-bg {
			width: calc(100% - 16px);
		}
		.content-wrapper {
			grid-template-columns: repeat(4, minmax(0, 1fr));
			grid-column: span 4;
			.content-info {
				grid-column: span 3;
			}
		}
	}

	.content {
		.intro-text,
		.grid-text {
			grid-template-columns: 1fr;
		}
		.text-level {
			@each $property, $value in $font-styles-lead-mobile {
				#{$property}: $value;
			}
		}
		.grid-parameters {
			.parameter-value {
				@each $property, $value in $font-styles-lead-mobile {
					#{$property}: $value;
				}
			}
		}
		.typography {
			.typography-text {
				grid-column: span 9;
			}
			.typography-tabs {
				.tab-content {
					&-item > div:first-child {
						@each $property, $value in $font-styles-p12 {
							#{$property}: $value;
						}
					}
				}
			}
		}
		.ui-area {
			grid-template-columns: repeat(2, 1fr);
		}
		.ui-dropdown {
			row-gap: 60px;
			.dropdown {
				input {
					@each $property, $value in $font-styles-p14 {
						#{$property}: $value;
					}
				}
			}
			.general-dropdown .options {
				z-index: 10;
				background: white;
			}
		}
		.ui-checkboxs {
			.checkbox-wrapper {
				justify-content: space-between;
				.checkbox {
					@each $property, $value in $font-styles-p14 {
						#{$property}: $value;
					}
				}
			}
			.radio-wrapper {
				justify-content: space-between;
				.radio {
					@each $property, $value in $font-styles-p14 {
						#{$property}: $value;
					}
				}
			}
		}
		.ui-button {
			row-gap: 60px;
			column-gap: 10px;
		}
	}
}
// Дополнительный брейкпоинт для не больших устройств
@media screen and (max-width: 856px) {
	body {
		grid-template-rows: auto auto 1fr;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 24px;
		grid-template-areas:
			'header'
			'nav'
			'content';
		.header,
		.navigation,
		.content {
			grid-column: span 4;
		}
		padding: 0 10px;
	}
	.navigation ul {
		flex-direction: row;
		justify-content: center;
		gap: 10px;
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.content {
		.intro-text,
		.grid-text {
			grid-template-columns: 1fr;
		}
		.typography {
			.typography-text {
				grid-column: span 9;
			}
		}
	}
}
// Разрешение для планшета
@media screen and (min-width: 736px) {
	body {
		grid-template-columns: repeat(8, minmax(56px, 88px));
		grid-column-gap: 32px;
		padding: 0 12px;
		.header {
			grid-column: span 8;
		}
		.navigation {
			grid-column: span 2;
		}
		.content {
			grid-column: span 6;
		}
	}

	.header__menu-content {
		grid-template-columns: repeat(8, minmax(56px, 88px));
		grid-column-gap: 32px;
		.content-bg {
			width: 80%;
		}
		.content-wrapper {
			.content-info {
				grid-column: span 5;
			}
		}
	}
}
// Разрешение для десктопа
@media screen and (min-width: 1200px) {
	body {
		grid-template-columns: repeat(12, minmax(60px, 80px));
		grid-column-gap: 32px;
		padding: 0 15px;
		.header {
			grid-column: span 12;
		}
		.navigation {
			grid-column: span 3;
		}
		.content {
			grid-column: span 9;
		}
	}
	.header__menu-content {
		grid-template-columns: repeat(12, minmax(60px, 80px));
		.content-bg {
			width: 60%;
		}
	}
}
