@media screen and (max-width: 736px) {
	body {
		grid-template-rows: auto auto 1fr;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 24px;
		grid-template-areas:
			'header'
			'nav'
			'content';
		.header,
		.navigation,
		.content {
			grid-column: span 4;
		}
		padding: 0 10px;
	}
	h1 {
		@each $property, $value in $font-styles-h1-mobile {
			#{$property}: $value;
		}
  }
  h2 {
		@each $property, $value in $font-styles-h2-mobile {
			#{$property}: $value;
		}
  }
  h3 {
		@each $property, $value in $font-styles-h3-mobile {
			#{$property}: $value;
		}
  }

	.text-level {
		@each $property, $value in $font-styles-lead-mobile {
			#{$property}: $value;
		}
	}

	.grid-parameters {
		.parameter-value {
			@each $property, $value in $font-styles-lead-mobile {
				#{$property}: $value;
			}
		}
	}




}

@media screen and (min-width: 736px) {
	body {
		grid-template-columns: repeat(8, minmax(56px, 88px));
		grid-column-gap: 32px;
		padding: 0 12px;
		.header {
			grid-column: span 8;
		}
		.navigation {
			grid-column: span 2;
		}
		.content {
			grid-column: span 6;
		}
	}
}

@media screen and (min-width: 1200px) {
	body {
		grid-template-columns: repeat(12, minmax(60px, 80px));
		grid-column-gap: 32px;
		padding: 0 15px;
		.header {
			grid-column: span 12;
		}
		.navigation {
			grid-column: span 3;
		}
		.content {
			grid-column: span 9;
		}
	}
}
