.navigation {
	grid-area: nav;
	ul {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 171px;
		a {
			color: $basic-gray;
			&:hover {
				color: $basic-black;
			}
			&:active {
				color: $basic-blue;
			}
		}
	}
}
