.navigation {
	grid-area: nav;
	ul {
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 112px;
		a {
			color: $text-gray;
			&:hover {
				color: $text-black;
			}
			&:active {
				color: $text-blue;
			}
		}
	}
}
