<header class="header">
	<div class="header__logo">
		<img src="../img/logo.svg" alt="logo">
	</div>
	<div class="header__fio">
		<span class="header__fio-lastname">Ругаль</span>
		<span class="header__fio-firstname">Павел Николаевич</span>
	</div>
	<div class="header__menu">
		<div class="header__menu-btn">
			<div class="line"></div>
			<div class="line"></div>
		</div>
		<div class="header__menu-content">
			<div class="content-wrapper">
				<div class="content-logo">
					<img src="../img/logo.svg" alt="#">
				</div>
				<div class="content-info">
					<div class="info-heading">Задание выполнил</div>
					<div class="info-about">
						<div class="fio">
							<span class="fio-lastname">Ругаль</span>
							<span class="fio-firstname">Павел Николаевич</span>
						</div>
						<div class="description">
							Краткое описание. Например, студент 4 курса специальности «Прикладная информатика» в КузГТУ
						</div>
						<div class="phone">+7 (800) 555-35-35</div>
					</div>
					<a class="info-link">
						<!-- <img src="" alt=""> -->
						<span>Ссылка на соцсеть/мессенджер</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>